*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font1:'Amatic SC', cursive;
    --font-colorblack:#37373f;
    --color-light:#eee;
    --font-colorlight:#7f7f90;
    --font-colordefault: #212529;
    --span-color:hsl( 0, 84%, 44% );
    --flex-gap:30px;
}
html{
   scroll-behavior: smooth;
}

.container{
    width: 90%;
    margin: 0 auto;
}
/* start nav page */
.nav{
    display: block;
    width: 100%;
    padding: 25px 0;
    position: fixed;
    box-shadow: 0 2px 17px -2px rgba(0,0,0,0.49);
 z-index: 100;
 right: 0;
 left: 0;
}


.nav .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.nav .cont a{
    text-decoration: none;
    font-weight: bolder;
    color:var(--font-colordefault);
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all .25s linear;

    font-family:  "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.nav .cont a:hover::before{
    left: 0;
    transition: all .25s linear;

}
.nav .cont a::before{
    content: "";
    height: 2px;
    position: absolute;
    background-color: var(--font-colordefault);
    bottom:-50% ;
    left: -130%;
    width: 100%;
    transition: var(--main-transition);
}
.nav .cont ul{
    list-style: none;
    display: flex;

    }
    .nav .cont ul li {
        padding: 10px;
        overflow: hidden;
    }
    @media screen and (max-width:768px){
        .nav .cont i{
            display: none;
            
        }
        .nav .cont{
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
        }
        .nav .cont ul{
            flex-direction: column;
        }
    }
    .nav .cont ul li a{
        color: var(--font-colorlight);
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 200;
        position: relative;
        transition: all .5s linear;
    }
   
    .nav .cont ul li a:hover{
        color: #000;
    }
    body:has(.home:target) .lhome{
        color: red;
        
    }
    body:has(.cheaf:target) .lchefs{
        color: red;
        
    }
    body:has(.galary:target) .lgallary{
        color: red;
        
    }
    body:has(.contact:target) .lcontact{
        color: red;
        
    }
    /* end nav page */ 
    /* start home page */
    .home{
        background-color: var(--color-light);
        padding-top: 150px;
        padding-bottom: 80px;
       
    }
    .home .hcont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center ;

    }
    .home .hcont .txt{
        width: 30%;
    }
    .home .hcont .txt h2{
        font-size: 55px;
        padding-block: 25px;
        font-family: var(--font1);
        color:var(--font-colorblack);
    }
    .home .hcont .txt p{
        color:  #4f4f5a;
        line-height: 1.2;
    }
    .home .hcont .pic{
        width: 40%;
    }
    @media screen and (min-width:992px) and (max-width:1200px) {
        .home .hcont .pic{
          width: 30%;  
        }  
        .home .hcont .txt{
            width: 45%;  
          } 
    }
    @media screen and (max-width:992px){
        .home .hcont{
            flex-direction: column-reverse;
            text-align: center;
        }
        .home .hcont .txt , .home .hcont .pic{
            width: 100%;
        }
       
    }
    
    .home .hcont .pic:hover{
     animation: vibrate 1s infinite  ;
    }
    @keyframes vibrate {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
          }
          10% {
            transform: translate(-1px, -2px) rotate(-1deg);
          }
          20% {
            transform: translate(-3px, 0px) rotate(1deg);
          }
          30% {
            transform: translate(3px, 2px) rotate(0deg);
          }
          40% {
            transform: translate(1px, -1px) rotate(1deg);
          }
          50% {
            transform: translate(-1px, 2px) rotate(-1deg);
          }
          60% {
            transform: translate(-3px, 1px) rotate(0deg);
          }
          70% {
            transform: translate(3px, 1px) rotate(-1deg);
          }
          80% {
            transform: translate(-1px, -1px) rotate(1deg);
          }
          90% {
            transform: translate(1px, 2px) rotate(0deg);
          }
          100% {
            transform: translate(1px, -2px) rotate(-1deg);
          }
    }
    .home .hcont .pic img{
        width: fit-content;
    }
    .home .hcont .txt .htxt{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-block: 25px;
        align-items: center;
        gap: 20px;
    }
    @media screen and (max-width:992px){
        .home .hcont .txt .htxt{
            justify-content: center;
        }
    }
    body:has(.home:target) .lhome{
        color: red;
        
    }
    .home .hcont .txt .htxt .one{
        padding: 5px 10px;
        background-color: red;
        opacity: .8;
        text-decoration: none;
        color: white;
        border-radius:  0px 100vh 100vh;
        transition: all .25s linear;
    }
    .home .hcont .txt .htxt div:hover #two{
        color: red;
    }
    .home .hcont .txt .htxt .one :hover{
        opacity: 1;
    }
    .home .hcont .txt .htxt .two{
        text-decoration: none;
        color: var(--font-colordefault);
        font-family: sans-serif;
        font-weight: bold;
        transition: all .25s linear;
    }
    .home .hcont .txt .htxt .two:hover{
        color: red;
    }
    
    .home .hcont .txt .htxt div{
        padding: 10px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        z-index: 21;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    .home .hcont .txt .htxt div i{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    .home .hcont .txt .htxt div:hover i {
        color: red;
    }
     .home .hcont .txt .htxt div::after{
        position: absolute;
        top: 0;
        left: 0;
        background:linear-gradient(to right, red 50% , #eee 50%);
        width: 110%;
        height: 110%;
        content: "";
        border-radius: 50%;
        transform: translate(-8%,-8%);
        z-index: -8;
    }
  
    .home .hcont .pic img{
        filter: drop-shadow(2px 2px 14px #000);
        width: 100%;
    }
    
    /* end home page */
    /* start cheaf page */
    .cheaf{
        padding: 100px 0;
    }
    .mainp{
       text-align: center;
       font-family: sans-serif;
       font-weight: 200;
       color: var(--font-colorlight);
    }
    .mainh{
        text-align: center;
        font-family: var(--font1);
        padding-block: 20px;
        font-size: 50px;
        font-weight: 300;
    }
    #prof{
        color: red;

    }
    .cheaf .card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 50px;
        justify-content: space-between;

    }
    .cheaf .card .card1{
        width: 30%;
        height: fit-content;
        position: relative;
        text-align: center;
        overflow: hidden;
        box-shadow: 1px 2px 12px -2px rgba(0,0,0,0.75);
        border-radius: 5px;
        transition: all .5s linear;
        margin-block: 40px;

    }
    .cheaf .card .card1 .pic{
        width: 100%;
        position: relative;
        height: fit-content;
    }
    .cheaf .card .card1 .pic::after{
        content: "";
        position: absolute;
        width: 101%;
        height: 23%;
        background-image: url(../pic/1/wave.svg);
        background-size: contain;
        bottom: -1%;
        background-repeat: repeat-x;
        left: -1px;
    }
    
        
  
    
    @media screen and (max-width:992px){
        .cheaf .card .card1{
            width: 40%;
           
        }
    }
    @media screen and (max-width:768px){
        .cheaf .card .card1{
            width: 90%;
           
        }
        .cheaf .card {
            justify-content: center;
        }
    }
    .cheaf .card .card1 img{
        width: 100%;
        position: relative;
         z-index: -2;
    }
   
    
    .cheaf .card .card1 h2 ,  .cheaf .card .card1 p{
        text-align: center;
    }
    .cheaf .card .card1 h2{
        font-size: 30px;
        font-family:"Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";,
       padding-block: 10px;
    }
    .cheaf .card .card1 .one{
        padding-bottom: 10px;
    }
    .cheaf .card .card1 .two{
        font-style: italic;
        padding: 5px 20px 10px;
    }
    .cheaf .card .card1 .icon{
        position: absolute;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 5px;
        top: 4%;
        right: -20%;
        transition: all .25s .5s linear;
        
        
    }
    .cheaf .card .card1:hover{
        transform: scale(1.2);
    }
    .cheaf .card .card1 .two{
        padding-bottom: 30px;
    }
    .cheaf .card .card1:hover .icon{
        right: 5%;
    }
    .cheaf .card .card1 .icon ul{
        list-style: none;
        
    }
    .cheaf .card .card1 .icon ul li{
        padding: 10px;
    }
    .cheaf .card .card1 .icon ul li i{
        color: var(--font-colorblack);
        opacity: .5;
        transition: all .25s linear;
    }
    .cheaf .card .card1 .icon ul li i:hover{
        opacity: 1;
    }
    /* end cheaf page */
    /* start galary page */
    .galary{
        background-color: var(--color-light);
        padding: 100px 0;
        
    }
    .galary .mainh span{
        color: var(--span-color);
    }

    .gal__pic{
        padding-block: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--flex-gap);
        justify-content: space-between;
        width: 100%
    }
    .gal__pic .one , .gal__pic .two , .gal__pic .three{
        width: calc(calc(100% - var(--flex-gap) * 2) / 3);
        display: flex;
        flex-direction: column;
        
        gap: var(--flex-gap);
    }
    .gal__pic .one img , .gal__pic .two img , .gal__pic .three img{
        width: 100%;
        height: 100%;
        transition: all .25s linear;
    }
    @media screen and (max-width:768px) {
        .gal__pic{
            flex-direction: column;
            flex-wrap: wrap;
            gap: var(--flex-gap);
        }
        .gal__pic .one , .gal__pic .two , .gal__pic .three{
            width: 100%;
         
            
            gap: var(--flex-gap);
        }
    }
    .genaral{
        border: 4px solid #fff;
        position: relative;
        color: white;
        overflow: hidden;
        
    }
    
    .genaral:hover img{
        transform: scale(1.2);
    }
    .genaral .layer{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .3);
        top: 100%;
        transition: all .25s linear;
    }
    .genaral:hover .layer{
        top: 0;
    }
    .genaral .layer h2{
     padding-block: 10px;
     font-family: "Inter", sans-serif;
    }
    .genaral .layer p{
     color: #ddd;
     font-family: sans-serif;
    }
 
    
    /* end galary page */
    /* start contact page */
    .contact{
        padding-block: 110px;
        width: 100%;
    }
    .contact .container{
        align-items: center;
      
    }
    
    .contact .map{
        width: 100%;
    }
    .contact .map iframe{
        width: 100%;
    }
    .contact .info{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-block: 20px;
    }
.info .info1{
        background-color: var(--color-light);
        display: flex;
        padding: 30px 10px 30px 30px;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-block: 10px;
        width: 42%;
    }
    @media screen and (min-width:769px){
        .info .info1{
            width: 42%;
        }
    }
    @media screen and (max-width:768px){
        .info .info1{
            width: 100%;
        }
    }
    .info1 .inone .icon {
        width: 40px;
        height: 40px;
        background-color: red;
        position: relative;
        border-radius: 50%;

    }
    .info1 .inone .icon i{
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .info1 .intwo h2{
        font-family: sans-serif;
        padding-bottom: 15px;
        color: var(--font-colorlight);
    }
    .info1 .intwo span{
        font-size: 20px;
        font-weight: bold;
        font-family: sans-serif;
    }
    .contact .container form{
        width: 100%;
        padding: 10px ;
        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.1);
        overflow: hidden;
        box-sizing: border-box;
    }
    form .one{
        width: calc(100% - 20px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-block: 10px;
    }
    form .two , form .three {
        width: calc(100% - 20px);
    }
    form .one input{
        padding: 15px;
        border-color: var(--color-light);
        width: 45%;
        outline: none;
    }
    form .two .intwo{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        border-color: var(--color-light);
        outline: none;
        margin-block: 10px;

    }
    form .three textarea{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        border-color: var(--color-light);
        outline: none;
        margin-block: 10px; 
    }
    @media screen and (max-width:768px){
        form .one input{
            width: 100%;
            margin-block: 15px;
        }
    }
    form button{
        text-align: center;
        padding: 15px 40px;
        background-color: red;
        margin: auto;
        color: white;
        border-radius: 50px;
        border: none;
        opacity: .8;
        cursor: pointer;
        transition: all .25s linear;
        margin-block: 10px;
       
    }
    form .four{
        display: flex;
        justify-content: center;
    }
    form button:hover{
        opacity: 1;
    }
       /* end contact page */
       /* start footer page */
       .footer{
        width: 100%;
        background-image:url(../pic/textured-metal-background.jpg);
        background-size: contain;
        color: white;
        font-family: sans-serif;
        filter: drop-shadow(5px 5px 10px #000);
       }
       .footer .layer{
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
        padding-block: 50px;
       }
       .footer .foot{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        width: 100%;
       }
       .foot .meal , .foot .get{
        width: 25%;
       }
       .foot .sub{
        width: 40%;
       }
       .foot .meal .meal1 div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 20px; 
        
       }
       .foot .meal .meal1 div img{
        width: 30px;
        height: 30px;
        padding-right: 10px;
       }
       .foot .meal .meal1 div h2{
        font-family: "Open Sans";
       }
       .foot .meal .meal1 div h2 span{
        font-size: 20px;
        color: red;
     
       }
       .foot .meal .meal1{
        border-bottom: 2px solid var(--color-light);
       }
       .foot .meal .meal1 p{
        font-family: "Open Sans";
        
       }
       .foot .meal .meal1 h3{
        text-align: center;
        padding-block: 20px;
        font-size: 25px;
       }
       .foot .meal ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-block: 30px;
        justify-content: space-around;
        color: white;
       }
       .foot .meal ul i{
        color: white;
        width: 20px;
        height: 20px;
       }
       .foot .sub h2{
        font-size: 20px;
       }
       .foot .sub p{
        padding-block: 20px;
        line-height: 1.5;
       }
       .foot .sub .in{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
       }
       .foot .sub .in input[ type="email"]{
        width: 65%;
        border: none;
        outline: none;
        padding: 10px;
       }
       .foot .sub .in button{
        width: 30%;
        padding: 10px;
        color: white;
        background-color: rgba(255, 0, 0, .8);
        cursor: pointer;
        border: none;
       }
       .foot .sub .in button:hover{
        background-color: rgba(255, 0, 0, 1);
       }
       .foot .sub .list{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
       }
       .foot .sub .list ul{
        width: 40%;
       }
       .foot .sub .list li{
        padding-block: 7px;
        transition: all.25s linear;
        width: 100%;
       }
       .foot .sub .list li:hover{
        padding-left: 10px;
        background-color: #7f7f90;
       }
       .foot .sub .list li a{
       color: white;
       }
       .foot .get h2{
        font-size: 20px;
        padding-bottom: 20px;
       }
       .foot .get ul li{
        display: flex;
        flex-direction: row;
        align-items: center;
       }
       .foot .get ul li i{
        color: red;
        font-size: 20px;
        padding: 15px;
       }
       .foot .get ul li a{
        color: white;
       }
       @media screen and (min-width:769px)and (max-width:1200px) {
        .foot{
            flex-wrap:wrap;
            justify-content: space-between;
        }
         .foot .meal{
            width: 50%;
            order: 1;
         }
         .foot .get{
            width: 50%;
            order: 2;
         }
         .foot .sub{
            padding-top: 20px;
            width: 100%;
            order: 3;
         }
       }
       @media screen and (max-width:768px){
        .foot{
            flex-wrap:wrap;
            justify-content: space-between;
        }
         .foot .meal{
            width: 100%;
            order: 1;
         }
         .foot .get{
            width: 100%;
            order: 3;
            padding-top: 20px;
         }
         .foot .sub{
            padding-top: 20px;
            width: 100%;
            order: 2;
         }
       }
       /* end footer page */
